In [1]:
# ! pip install pyyaml pandas

In [3]:
import os
import pandas as pd
from IPython.display import display
from pathlib import Path
from utils import get_configs, display_unique_values, get_duplicates

In [4]:
# Load configuration settings from configs.yaml
config = get_configs('configs.yaml')

In [5]:
# Access the base path and other paths from the config
base_path = config['data_paths']['base_path']
file_paths = {
    'Customers': os.path.join(base_path, config['data_paths']['customers']),
    'Products': os.path.join(base_path, config['data_paths']['products']),
    'Labelled Reviews': os.path.join(base_path, config['data_paths']['labelled_reviews']),
    'Orders': os.path.join(base_path, config['data_paths']['orders']),
    'Addresses': os.path.join(base_path, config['data_paths']['addresses']),
    'Customer Reviews': os.path.join(base_path, config['data_paths']['customer_reviews']),
    'Customer Accounts': os.path.join(base_path, config['data_paths']['customer_accounts'])
}

In [6]:
# display the columns for each filepath in file_pats
for key, value in file_paths.items():
    print(f"{key}:")
    df = pd.read_csv(value)
    print(df.head())
    print("\n\n")

Customers:
   customer_id  address_id   birthdate gender job_type email_provider  \
0       891057      863914  2001-10-22      F      NaN       yahoo.it
1       655484      639856  2001-04-30      M      NaN       yahoo.it
2       514958      494806  2001-01-01      M      NaN      libero.it
3       398355      377261  2000-03-09      M      NaN      gmail.com
4        23808       20227  1999-11-21      F      NaN    virgilio.it

   flag_phone_provided  flag_privacy
0                  1.0          True
1                  1.0         False
2                  1.0          True
3                  1.0          True
4                  1.0          True



Products:
   product_id  product_class
0    35996051              9
1    35980371             14
2    31276196              4
3    31276224              4
4    31456495              4



Labelled Reviews:
   labelled_reviews_index                                        review_text  \
0                       0  I'm no bitters expert but I bought it as a gif...
1                       1  these are probably great in the right drinks, ...
2                       2  I sent these to my dad for his bday and he sai...
3                       3  I purchased these as a gift for family member ...
4                       4  My wife bought me this sauce sampler for Chris...

  sentiment_label
0         neutral
1         neutral
2        positive
3        positive
4         neutral



Orders:
                           order_id  customer_id  store_id  product_id  \
0  8fe4346b53d0c781b275a614175804de           23        49    35551922
1  8fe4346b53d0c781b275a614175804de           23        49    30344384
2  8fe4346b53d0c781b275a614175804de           23        49    33794292
3  8fe4346b53d0c781b275a614175804de           23        49    33795776
4  8fe4346b53d0c781b275a614175804de           23        49    36235381

   direction  gross_price  price_reduction  purchase_datetime
0          1       125.40              0.0  2022-10-04T182851
1          1         8.30              0.0  2022-10-04T182851
2          1         1.99              0.0  2022-10-04T182851
3          1         5.10              0.0  2022-10-04T182851
4          1        76.05              0.0  2022-10-04T182851



Addresses:
   address_id  postal_code district     region
0        1337      20083.0       MI  LOMBARDIA
1        1347      20090.0       MI  LOMBARDIA
2        1347      20090.0       MI  LOMBARDIA
3        1347      20090.0       MI  LOMBARDIA
4        1347      20090.0       MI  LOMBARDIA



Customer Reviews:
   review_id  customer_id                                        review_text
0          1       814256  I have bought several of the Vitality canned d...
1          2       457475  Product arrived labeled as Jumbo Salted Peanut...
2          3       104045  This is a confection that has been around a fe...
3          4       603662  If you are looking for the secret ingredient i...
4          5       739314  Great taffy at a great price.  There was a wid...



Customer Accounts:
   customer_id  account_id  favorite_store loyalty_type  loyatlty_status  \
0         9557      746573               9      premium                1
1       743090      776971               2      premium                1
2       813156      791681              45      premium                1
3       843392      825439               1      premium                1
4        20476      815010              16      premium                1

  activation_date
0      2023-01-11
1      2023-01-30
2      2023-02-08
3      2023-03-01
4      2023-02-23

### Customers Data

In [7]:
# Load and inspect Customers data
customers_path = file_paths['Customers']
customers_df = pd.read_csv(customers_path)

print(f"\nHead of Customers:")
display(customers_df.head(5))
display_unique_values(customers_df, 'Customers')

Head of Customers:

,customer_id,address_id,birthdate,gender,job_type,email_provider,flag_phone_provided,flag_privacy
0,891057,863914,2001-10-22,F,NaN,yahoo.it,1.0,True
1,655484,639856,2001-04-30,M,NaN,yahoo.it,1.0,False
2,514958,494806,2001-01-01,M,NaN,libero.it,1.0,True
3,398355,377261,2000-03-09,M,NaN,gmail.com,1.0,True
4,23808,20227,1999-11-21,F,NaN,virgilio.it,1.0,True

Unique head values for Customers:
customer_id:

0    891057
1    655484
2    514958
3    398355
4     23808
Name: customer_id, dtype: int64

address_id:

0    863914
1    639856
2    494806
3    377261
4     20227
Name: address_id, dtype: int64

birthdate:

0    2001-10-22
1    2001-04-30
2    2001-01-01
3    2000-03-09
4    1999-11-21
Name: birthdate, dtype: object

gender:

0    F
1    M
Name: gender, dtype: object

job_type:

0                NaN
135    self-employed
267       unemployed
337         employee
383           others
Name: job_type, dtype: object

email_provider:

0       yahoo.it
2      libero.it
3      gmail.com
4    virgilio.it
5       alice.it
Name: email_provider, dtype: object

flag_phone_provided:

0     1.0
10    NaN
Name: flag_phone_provided, dtype: float64

flag_privacy:

0     True
1    False
Name: flag_privacy, dtype: bool

### Products Data

In [8]:
products_path = file_paths['Products']
products_df = pd.read_csv(products_path)

print(f"\nHead of Products:")
display(products_df.head(5))
display_unique_values(products_df, 'Products')

Head of Products:

   product_id  product_class
0    35996051              9
1    35980371             14
2    31276196              4
3    31276224              4
4    31456495              4

Unique head values for Products:
product_id:

0    35996051
1    35980371
2    31276196
3    31276224
4    31456495
Name: product_id, dtype: int64

product_class:

0      9
1     14
2      4
10    10
11     3
Name: product_class, dtype: int64

### Labelled Reviews Data

In [9]:
labelled_reviews_path = file_paths['Labelled Reviews']
labelled_reviews_df = pd.read_csv(labelled_reviews_path)

print(f"\nHead of Labelled Reviews:")
display(labelled_reviews_df.head(5))
display_unique_values(labelled_reviews_df, 'Labelled Reviews')

Head of Labelled Reviews:

,labelled_reviews_index,review_text,sentiment_label
0,0,I'm no bitters expert but I bought it as a gif...,neutral
1,1,"these are probably great in the right drinks, ...",neutral
2,2,I sent these to my dad for his bday and he sai...,positive
3,3,I purchased these as a gift for family member ...,positive
4,4,My wife bought me this sauce sampler for Chris...,neutral

Unique head values for Labelled Reviews:
labelled_reviews_index:

0    0
1    1
2    2
3    3
4    4
Name: labelled_reviews_index, dtype: int64

review_text:

0    I'm no bitters expert but I bought it as a gif...
1    these are probably great in the right drinks, ...
2    I sent these to my dad for his bday and he sai...
3    I purchased these as a gift for family member ...
4    My wife bought me this sauce sampler for Chris...
Name: review_text, dtype: object

sentiment_label:

0      neutral
2     positive
37    negative
Name: sentiment_label, dtype: object

### Orders Data

In [10]:
orders_path = file_paths['Orders']
orders_df = pd.read_csv(orders_path)

print(f"\nHead of Orders:")
display(orders_df.head(5))
display_unique_values(orders_df, 'Orders')

Head of Orders:

,order_id,customer_id,store_id,product_id,direction,gross_price,price_reduction,purchase_datetime
0,8fe4346b53d0c781b275a614175804de,23,49,35551922,1,125.40,0.0,2022-10-04T182851
1,8fe4346b53d0c781b275a614175804de,23,49,30344384,1,8.30,0.0,2022-10-04T182851
2,8fe4346b53d0c781b275a614175804de,23,49,33794292,1,1.99,0.0,2022-10-04T182851
3,8fe4346b53d0c781b275a614175804de,23,49,33795776,1,5.10,0.0,2022-10-04T182851
4,8fe4346b53d0c781b275a614175804de,23,49,36235381,1,76.05,0.0,2022-10-04T182851

Unique head values for Orders:
order_id:

0     8fe4346b53d0c781b275a614175804de
5     c2ae3673970490406925dcd3f8a4d486
12    7927c5116d8aae47d86b75f67ac94a6f
14    c3d616db59bbc52a92b1f81901dfdd75
17    a55b0fc1b02134f9b5fa4378a74e2e63
Name: order_id, dtype: object

customer_id:

0      23
39     30
51     32
62     48
131    50
Name: customer_id, dtype: int64

store_id:

0      49
136     9
139    15
208    28
385    43
Name: store_id, dtype: int64

product_id:

0    35551922
1    30344384
2    33794292
3    33795776
4    36235381
Name: product_id, dtype: int64

direction:

0     1
12   -1
Name: direction, dtype: int64

gross_price:

0    125.40
1      8.30
2      1.99
3      5.10
4     76.05
Name: gross_price, dtype: float64

price_reduction:

0    0.00
5    0.17
6    0.19
7    0.07
8    0.99
Name: price_reduction, dtype: float64

purchase_datetime:

0     2022-10-04T182851
5     2022-10-31T130742
12    2022-11-17T104929
14    2022-11-17T112828
17    2022-11-29T162628
Name: purchase_datetime, dtype: object

###  Addresses Data

In [11]:
addresses_path = file_paths['Addresses']
addresses_df = pd.read_csv(addresses_path)

print(f"\nHead of Addresses:")
display(addresses_df.head(5))
display_unique_values(addresses_df, 'Addresses')

Head of Addresses:

   address_id  postal_code district     region
0        1337      20083.0       MI  LOMBARDIA
1        1347      20090.0       MI  LOMBARDIA
2        1347      20090.0       MI  LOMBARDIA
3        1347      20090.0       MI  LOMBARDIA
4        1347      20090.0       MI  LOMBARDIA

Unique head values for Addresses:
address_id:

0     1337
1     1347
5     1387
6     1412
10    1418
Name: address_id, dtype: int64

postal_code:

0     20083.0
1     20090.0
5     20084.0
10    20147.0
11    20126.0
Name: postal_code, dtype: float64

district:

0     MI
21    CT
39    PV
42    BO
53    TO
Name: district, dtype: object

region:

0          LOMBARDIA
21           SICILIA
42    EMILIA ROMAGNA
53          PIEMONTE
54            PUGLIA
Name: region, dtype: object

### Customer Reviews Data

In [12]:
customer_reviews_path = file_paths['Customer Reviews']
customer_reviews_df = pd.read_csv(customer_reviews_path)

print(f"\nHead of Customer Reviews:")
display(customer_reviews_df.head(5))
display_unique_values(customer_reviews_df, 'Customer Reviews')

Head of Customer Reviews:

   review_id  customer_id                                        review_text
0          1       814256  I have bought several of the Vitality canned d...
1          2       457475  Product arrived labeled as Jumbo Salted Peanut...
2          3       104045  This is a confection that has been around a fe...
3          4       603662  If you are looking for the secret ingredient i...
4          5       739314  Great taffy at a great price.  There was a wid...

Unique head values for Customer Reviews:
review_id:

0    1
1    2
2    3
3    4
4    5
Name: review_id, dtype: int64

customer_id:

0    814256
1    457475
2    104045
3    603662
4    739314
Name: customer_id, dtype: int64

review_text:

0    I have bought several of the Vitality canned d...
1    Product arrived labeled as Jumbo Salted Peanut...
2    This is a confection that has been around a fe...
3    If you are looking for the secret ingredient i...
4    Great taffy at a great price.  There was a wid...
Name: review_text, dtype: object

### Customer Accounts Data

In [13]:
customer_accounts_path = file_paths['Customer Accounts']
customer_accounts_df = pd.read_csv(customer_accounts_path)

print(f"\nHead of Customer Accounts:")
display(customer_accounts_df.head(5))
display_unique_values(customer_accounts_df, 'Customer Accounts')

Head of Customer Accounts:

,customer_id,account_id,favorite_store,loyalty_type,loyatlty_status,activation_date
0,9557,746573,9,premium,1,2023-01-11
1,743090,776971,2,premium,1,2023-01-30
2,813156,791681,45,premium,1,2023-02-08
3,843392,825439,1,premium,1,2023-03-01
4,20476,815010,16,premium,1,2023-02-23

Unique head values for Customer Accounts:
customer_id:

0      9557
1    743090
2    813156
3    843392
4     20476
Name: customer_id, dtype: int64

account_id:

0    746573
1    776971
2    791681
3    825439
4    815010
Name: account_id, dtype: int64

favorite_store:

0     9
1     2
2    45
3     1
4    16
Name: favorite_store, dtype: int64

loyalty_type:

0               premium
10     business premium
34             standard
41    business standard
Name: loyalty_type, dtype: object

loyatlty_status:

0     1
38    0
Name: loyatlty_status, dtype: int64

activation_date:

0    2023-01-11
1    2023-01-30
2    2023-02-08
3    2023-03-01
4    2023-02-23
Name: activation_date, dtype: object

#### Data quality

In [14]:
for name, path in file_paths.items():
    df = pd.read_csv(path)

    print(f"\nChecking data quality for {name}:")
    
    print("Missing values:")
    print(df.isna().sum())
    
    print(f"\nTotal number of rows: {len(df)}")
    print("Duplicate rows:", df.duplicated().sum())
    
    print("\nData types:")
    print(df.dtypes)
    
    print("\nBasic statistics:")
    print(df.describe())

Checking data quality for Customers:
Missing values:
customer_id                 0
address_id                  0
birthdate                   0
gender                      0
job_type               136651
email_provider           1835
flag_phone_provided     11271
flag_privacy                0
dtype: int64

Total number of rows: 140946
Duplicate rows: 0

Data types:
customer_id              int64
address_id               int64
birthdate               object
gender                  object
job_type                object
email_provider          object
flag_phone_provided    float64
flag_privacy              bool
dtype: object

Basic statistics:
         customer_id     address_id  flag_phone_provided
count  140946.000000  140946.000000             129675.0
mean   450451.869964  447884.747208                  1.0
std    257963.180963  253491.183083                  0.0
min        23.000000      21.000000                  1.0
25%    235540.000000  241057.750000                  1.0
50%    453484.500000  448548.000000                  1.0
75%    662564.500000  656004.000000                  1.0
max    934879.000000  900091.000000                  1.0

Checking data quality for Products:
Missing values:
product_id       0
product_class    0
dtype: int64

Total number of rows: 88538
Duplicate rows: 0

Data types:
product_id       int64
product_class    int64
dtype: object

Basic statistics:
         product_id  product_class
count  8.853800e+04   88538.000000
mean   4.138279e+07       8.241851
std    1.602699e+07       3.538264
min    1.692100e+04       1.000000
25%    3.465072e+07       6.000000
50%    3.576238e+07       9.000000
75%    3.630907e+07      11.000000
max    8.221500e+07      14.000000

Checking data quality for Labelled Reviews:
Missing values:
labelled_reviews_index    0
review_text               0
sentiment_label           0
dtype: int64

Total number of rows: 462744
Duplicate rows: 0

Data types:
labelled_reviews_index     int64
review_text               object
sentiment_label           object
dtype: object

Basic statistics:
       labelled_reviews_index
count            462744.00000
mean             231371.50000
std              133582.83082
min                   0.00000
25%              115685.75000
50%              231371.50000
75%              347057.25000
max              462743.00000

Checking data quality for Orders:
Missing values:
order_id             0
customer_id          0
store_id             0
product_id           0
direction            0
gross_price          0
price_reduction      0
purchase_datetime    0
dtype: int64

Total number of rows: 1039865
Duplicate rows: 122865

Data types:
order_id              object
customer_id            int64
store_id               int64
product_id             int64
direction              int64
gross_price          float64
price_reduction      float64
purchase_datetime     object
dtype: object

Basic statistics:
        customer_id      store_id    product_id     direction   gross_price  \
count  1.039865e+06  1.039865e+06  1.039865e+06  1.039865e+06  1.039865e+06
mean   4.199911e+05  2.593901e+01  3.708595e+07  8.796825e-01  2.661887e+01
std    2.415660e+05  1.417126e+01  9.893595e+06  4.755618e-01  1.186921e+02
min    2.300000e+01  2.000000e+00  5.045530e+05 -1.000000e+00 -1.746500e+04
25%    2.231400e+05  1.400000e+01  3.380159e+07  1.000000e+00  1.850000e+00
50%    4.251650e+05  2.700000e+01  3.530825e+07  1.000000e+00  4.990000e+00
75%    6.114470e+05  3.800000e+01  3.607911e+07  1.000000e+00  1.499000e+01
max    9.347160e+05  4.900000e+01  8.204297e+07  1.000000e+00  1.746500e+04

       price_reduction
count     1.039865e+06
mean      2.118577e+00
std       1.639026e+01
min      -2.095800e+03
25%       0.000000e+00
50%       0.000000e+00
75%       0.000000e+00
max       2.096500e+03

Checking data quality for Addresses:
Missing values:
address_id         0
postal_code       49
district       19066
region          6746
dtype: int64

Total number of rows: 245425
Duplicate rows: 87660

Data types:
address_id       int64
postal_code    float64
district        object
region          object
dtype: object

Basic statistics:
          address_id    postal_code
count  245425.000000  245376.000000
mean   440592.550551   35747.306896
std    250383.968027   26846.646028
min        13.000000       0.000000
25%    234349.000000   20080.000000
50%    440622.000000   25030.000000
75%    646862.000000   50066.000000
max    900090.000000   99999.000000

Checking data quality for Customer Reviews:
Missing values:
review_id      0
customer_id    0
review_text    0
dtype: int64

Total number of rows: 105710
Duplicate rows: 0

Data types:
review_id       int64
customer_id     int64
review_text    object
dtype: object

Basic statistics:
           review_id    customer_id
count  105710.000000  105710.000000
mean    70485.181042  450074.080882
std     40663.780914  257766.486270
min         1.000000      23.000000
25%     35293.250000  235168.500000
50%     70454.500000  453030.500000
75%    105772.500000  662124.000000
max    140946.000000  934879.000000

Checking data quality for Customer Accounts:
Missing values:
customer_id        0
account_id         0
favorite_store     0
loyalty_type       0
loyatlty_status    0
activation_date    0
dtype: int64

Total number of rows: 169494
Duplicate rows: 0

Data types:
customer_id         int64
account_id          int64
favorite_store      int64
loyalty_type       object
loyatlty_status     int64
activation_date    object
dtype: object

Basic statistics:
         customer_id     account_id  favorite_store  loyatlty_status
count  169494.000000  169494.000000   169494.000000    169494.000000
mean   453477.476807  454051.698202       22.794506         0.992153
std    260804.531519  253823.105754       15.601191         0.088235
min        16.000000       3.000000        1.000000         0.000000
25%    233721.500000  246909.250000        7.000000         1.000000
50%    455237.500000  450119.500000       24.000000         1.000000
75%    670383.750000  664456.000000       37.000000         1.000000
max    934892.000000  928121.000000       49.000000         1.000000

#### Duplicate Rows for Orders and Addresses

In [15]:
# Finding Duplicates in Orders and Addresses
for name in ['Orders', 'Addresses']:
    path = file_paths[name]
    df = pd.read_csv(path)

    print(f"\nFinding duplicates in {name}:")
    if name == 'Orders':
        display(get_duplicates(df, cols=['order_id']))
    elif name == 'Addresses':
        display(get_duplicates(df, cols=['address_id']))  # Assuming 'address_id' is the unique identifier for addresses

Finding duplicates in Orders:

,order_id,customer_id,store_id,product_id,direction,gross_price,price_reduction,purchase_datetime
0,8fe4346b53d0c781b275a614175804de,23,49,35551922,1,125.40,0.00,2022-10-04T182851
1,8fe4346b53d0c781b275a614175804de,23,49,30344384,1,8.30,0.00,2022-10-04T182851
2,8fe4346b53d0c781b275a614175804de,23,49,33794292,1,1.99,0.00,2022-10-04T182851
3,8fe4346b53d0c781b275a614175804de,23,49,33795776,1,5.10,0.00,2022-10-04T182851
4,8fe4346b53d0c781b275a614175804de,23,49,36235381,1,76.05,0.00,2022-10-04T182851
...,...,...,...,...,...,...,...,...
1039857,b577e0cb3254ef8e4965ebc0643c90af,934484,17,36507275,1,9.90,0.00,2023-04-30T190211
1039858,b577e0cb3254ef8e4965ebc0643c90af,934484,17,31087273,1,1.76,0.00,2023-04-30T190211
1039859,b577e0cb3254ef8e4965ebc0643c90af,934484,17,31993381,1,23.99,4.09,2023-04-30T190211
1039861,86c9c4fdb8829e2ab90a86a357763419,934620,44,36237691,1,11.99,0.00,2023-04-30T191955
1039862,86c9c4fdb8829e2ab90a86a357763419,934620,44,81259479,1,9.99,0.00,2023-04-30T191955

Finding duplicates in Addresses:

        address_id  postal_code district          region
1             1347      20090.0       MI       LOMBARDIA
2             1347      20090.0       MI       LOMBARDIA
3             1347      20090.0       MI       LOMBARDIA
4             1347      20090.0       MI       LOMBARDIA
6             1412      20090.0       MI       LOMBARDIA
...            ...          ...      ...             ...
245417      211855      81030.0       CE        CAMPANIA
245418      720576      31020.0       TV          VENETO
245420       34811      40011.0       BO  EMILIA ROMAGNA
245422      570394      47924.0       RN  EMILIA ROMAGNA
245424      654925      20010.0       MI       LOMBARDIA

[119623 rows x 4 columns]

##### In Orders: 869.795 rows with the same order_id but different product_id and other values. Expected as a single order contains multiple products. After checking for duplicates based on all columns we find 149.803 as shown below:

In [16]:
# Check for any duplicates based on all columns
duplicates_all_columns = orders_df[orders_df.duplicated(keep=False)]
print(f"Total duplicate rows (all columns): {len(duplicates_all_columns)}")
display(duplicates_all_columns.head(5))

Total duplicate rows (all columns): 149803

,order_id,customer_id,store_id,product_id,direction,gross_price,price_reduction,purchase_datetime
17,a55b0fc1b02134f9b5fa4378a74e2e63,23,49,35165452,1,7.47,0.71,2022-11-29T162628
18,a55b0fc1b02134f9b5fa4378a74e2e63,23,49,35165452,1,7.47,0.71,2022-11-29T162628
42,2685d6e34e5f26eea7bd6143fa7ed3e4,30,49,48500403,1,1123.54,44.44,2022-07-23T070638
43,2685d6e34e5f26eea7bd6143fa7ed3e4,30,49,48500403,1,1123.54,44.44,2022-07-23T070638
44,2685d6e34e5f26eea7bd6143fa7ed3e4,30,49,48500403,1,1123.54,44.44,2022-07-23T070638